In [1]:
#display the recommended courses for feedback
import csv
import pandas as pd
import numpy as np
import os 

path = "C:/Users/admin/OneDrive/Desktop/"

In [2]:
name = "Sahill"
email = "hbashka@gmail.com"

In [5]:
df = pd.read_csv(path+"MAJOR/student_courses_recommended.csv")

In [6]:
df

     Name              Email                      Courses Recommended
0  Sahill  hbashka@gmail.com  CSN 461,CSN 203,CSN 204,CEN 409,CSN 401

In [10]:
flag = 0
courses_to_be_rated=""
for index, row in df.iterrows():
    if(row['Email'] == email):
        courses_to_be_rated = courses_to_be_rated+row['Courses Recommended']
        flag =1
        break

courses_to_be_rated_list = courses_to_be_rated.split(",")
print(courses_to_be_rated_list)

['CSN 461', 'CSN 203', 'CSN 204', 'CEN 409', 'CSN 401']