In [5]:
import csv
import pandas as pd
import numpy as np
import os 
import sys

path = "C:/Users/admin/OneDrive/Desktop/"

In [14]:
name = "User"
email = "kaulashutosh@gmail.com"

In [15]:
courses_list = ['CSN 418', 'CSN 408', 'HSM 401']

In [17]:
df = pd.read_csv(path+"MAJOR/latest_courses_selected_checkbox.csv")
flag=0
courses_seletcted_str = ",".join(courses_list)
print(courses_seletcted_str)
for index, row in df.iterrows():
    if(row['Email'] == email):
        row['Course ID'] = courses_seletcted_str
        flag =1
        break

if(flag == 0):    
    df.loc[len(df.index)] = [email, courses_seletcted_str]

df.to_csv(path+"MAJOR/latest_courses_selected_checkbox.csv",index=False)
df

CSN 418,CSN 408,HSM 401

                    Email                Course ID
0  koulashutosh@gmail.com  CSN 418,CSN 408,HSM 401
1  kaulashutosh@gmail.com  CSN 418,CSN 408,HSM 401